<div class="columns is-centered mt-6">
<div class="column is-one-third">

    <h1 class="new-task">Currently Editing <%= @all_task.task_title %></h1>
    <br/>
    <%= render 'form', all_task: @all_task %>
</div>
</div>